# Temp and output directories
_*/
build/
tmp/
temp/
lib/
bin/
Testing/

# Log files
*.log
*log.txt

# Binaries and executables
*.exe
*.exe.manifest
*.dll
*.dll.manifest
*.lib
*.pyc
*.pyd
*.so
*.a
*.la
*.dylib

# Media files
*.wav
*.mp3

# Other
audioneex_wrap.h
audioneex_wrap.cpp
audioneex.py
