# Temp and output directories
_*/
build/
tmp/
temp/
lib/
bin/
Testing/

# Logs
*.log
log.txt

# Binaries and executables
*.exe
*.exe.manifest
*.dll
*.dll.manifest
*.lib
*.pyc
*.pyd

# Media files
*.wav
*.mp3
*.ogg

# Other
audioneex_wrap.h
audioneex_wrap.cpp
